<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.doubles.mvcboard.mappers.upload.ArticleFileMapper">


    <insert id="addFile">
        INSERT INTO tbl_article_file (
            file_name
            , article_no
        ) VALUES (
            #{fileName}
            , LAST_INSERT_ID()
        )
    </insert>

</mapper>