<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.hwyj.mapper.MemberMapper">

<resultMap type="com.hwyj.domain.AuthVO" id="authMap">
      <result property="id" column="id" />
      <result property="auth" column="auth" />
   </resultMap>

	<resultMap type="com.hwyj.domain.CustomerVO" id="memberMap">
		<id property="id" column="id" />
		<result property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="m_name" column="m_name" />
		<result property="address" column="address" />
		<result property="tel" column="tel" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	
<!-- 	로그인 -->
	<select id="login" resultMap="memberMap"> 
		select member.id, pw, m_name, enabled, auth from member left outer join auth on member.id=auth.id
		where member.id=#{id}
	</select>
	
<!-- 	내정보 보기 -->
	<select id="read" resultType="com.hwyj.domain.CustomerVO"> 
		select id, m_name, email, address, tel from member where id=#{id}
	</select>
	
<!-- 	내정보 수정 -->
	<update id="update">   
  		update member set m_name=#{m_name}, tel=#{tel} where id=#{id} <!-- 나중에 테이블 컬럼 추가되면 여기도 추가해야됨 -->
	</update>	
	
	<update id="updateowner">   
  		update member set res_code=#{res_code} where id=#{id}
	</update>	
	
	
	
<!-- 	아이디 찾기 (이메일,이름으로) -->
	<select id="findId" resultType="com.hwyj.domain.CustomerVO"> 
		select id, email from member where email=#{email} and m_name=#{m_name}
	</select>
<!-- 	비밀번호 찾기(이메일,이름,아이디로) -->
	<select id="findPw" resultType="_int"> 
		select count(*) from member where email=#{email} and m_name=#{m_name} and id=#{id}
	</select>
<!-- 	비밀번호 변경 -->
	<update id="updatePw">
  	update member set pw=#{pw} where id=#{id}
	</update>
<!-- 	비밀번호 체크 -->
	<select id="checkPw" resultType="string">
		select pw from member where id=#{id}
	</select>
	
<!-- 	회원탈퇴 -->
	<delete id="withdrawal">
		delete from member where id=#{id}
	</delete>
	
	
	<!-- 회원가입 -->
	<insert id="insertCustomer" parameterType="com.hwyj.domain.CustomerVO"> 
		INSERT into testdb.member(id, pw, m_name, email, address, tel, member_date )
		VALUES (#{id}	,
		 		#{pw}	,
		 	#{m_name}	, 
			#{email}	,
			#{address}	,
			#{tel}		,
			now())
	</insert>
	
	
<!-- 	회원가입-권한등록 -->
	<insert id="insertAuth">
		INSERT into auth(id, auth) VALUES (#{id},#{auth})
	</insert>

	
	<insert id="enabled" parameterType="com.hwyj.domain.CustomerVO"> 
		INSERT into testdb.member(res_no, enabled)
		VALUES (#{res_no}	,
		 		#{enabled})
	</insert>
	
	
	
	
	<!-- 	멤버 목록보기 (auth별로 보기) -->
	<select id="selectCustomer" resultType="String"> 
		select count(*) from testdb.member
		where id=#{id}
	</select>

	
	
	
	
	

	
	


</mapper>