<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwyj.mapper.OrderMapper">


	<select id="orderList" resultType="java.util.HashMap"
		parameterType="com.hwyj.domain.OrderVO">
		select testdb.order.order_no,
		testdb.order.id,
		testdb.order.res_menu_code,
		testdb.order.res_code,
		testdb.res_menu.res_menu_price*testdb.order.order_count as sum,
		testdb.res_menu.res_menu_name,
		testdb.res.res_name,
		testdb.res.del_price,
		testdb.member.m_name,
		testdb.member.address,
		testdb.member.tel
		from testdb.order

		right outer join testdb.res_menu on
		testdb.order.res_menu_code=testdb.res_menu.res_menu_code

		right outer join testdb.res on
		testdb.order.res_code=testdb.res.res_code

		right outer join testdb.member on
		testdb.order.id=testdb.member.id
		where testdb.order.order_no=#{order_no}
	</select>



	<update id="updateOrder">
		update cart set payment='y' where id=#{id};
	</update>

	<update id="updateOrderResCode">
		update testdb.order o,
		res r,
		res_menu m
		set
		o.res_code= m.res_code
		where o.order_no=#{order_no}
		and m.res_menu_code=#{res_menu_code}
	</update>

	<insert id="insertOrder">
		<!-- insert into testdb.order( order_no, id, res_menu_code, res_code, order_date 
			) VALUES (#{order_no}, #{id}, #{res_menu_code}, #{res_code}, now() ) -->
			 INSERT into testdb.order(order_no,id, res_code, res_menu_code, amount)
			  VALUES (#{order_no},#{id},(select distinct res_code 
 				from res_menu where res_menu_code=#{res_menu_code}),#{res_menu_code},#{amount})

		<!-- insert IGNORE into testdb.order(order_no,id,
		res_menu_code,order_count)
		select
		#{cart_no},
		#{id},
		#{res_menu_code},
		#{amount}
		from cart
		where cart_no=#{cart_no}
		order by cart_no=#{cart_no} desc -->
	</insert>

	<select id="read" resultType="com.hwyj.domain.OrderVO">
		select order_no from testdb.order
		where order_no=#{order_no}
	</select>


	<!-- <insert id="insertOrder" parameterType="com.hwyj.domain.OrderVO"> insert 
		into testdb.order(order_no, id, res_menu_code,order_count,res_code, order_date) 
		select cart.id, cart.res_menu_code, amount, res.res_code, testdb.order.order_date 
		from cart , res, testdb.order left outer join testdb.res as r on testdb.order.res_code=r.res_code 
		where testdb.cart.id=#{id} </insert> -->



</mapper>